<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/template-admin :: head('Categories')}"></head>
<body class="bg-light m-4 p-4">

<div th:replace="~{admin/template-admin :: header('Categories', true, false, true)}"></div>

<form th:replace="~{admin/template-admin :: adminOrderForm(${fields})}"></form>

<table class="table table-striped table-hover table-sm table-dark mt-5">
    <thead>
    <tr>
        <th scope="col" th:each="field : ${fields}" th:text="${field.getValue()}"></th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${page}">
        <td th:text="${category.getTitle()}"></td>
        <td th:text="${category.getCategoryDescription()}"></td>
        <td th:text="${category.getCategoryId()}"></td>
        <td>
            <a href="#">Edit</a>
            <a href="#">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<div th:replace="~{admin/template-admin :: adminPagination('/admin/categories', ${page}, ${orderAttribute}, ${orderDirection})}"></div>
<script th:replace="~{admin/template-admin :: scriptBootstrap}"></script>
</body>
</html>