<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="~{fragments :: basicHead}"></head>

<body class="bg-gray-50 min-h-screen flex flex-col">
<script th:replace="~{fragments :: appPath}"></script>

<header th:replace="~{fragments :: basicHeader}"></header>
<main class="flex-grow">

    <!-- Trolley code: -->
    < <div th:replace="~{fragments :: basicControllerTrolley}"></div>
    <!-- Trolley code: -->



    <!--		trolley			-->
    <div th:replace="~{fragments :: basicTrolleyCode}"></div>

    <!--		trolley			-->

</main>


<footer th:replace="~{fragments :: basicFooter}"></footer>
<script th:replace="~{fragments :: basicScriptTrolley}"></script>